.eligibility {
  font-family: "Inter", sans-serif;
  padding: 20px;
  font-size: 16px;
  justify-items: flex-start;
  padding-top: 0;
}

.eligibility h2 {
  font-style: italic;
}

.alphabet-lower {
  list-style-type: lower-alpha;
}
