.notice {
  font-family: "Inter", sans-serif;
  padding: 20px 10px;
  font-size: 16px;
  padding-top: 0;
}

.notice h3 {
  color: #0038a7;
  font-style: italic;
}

.curved-edge {
  padding: 1px 10px;
  background-color: rgb(222, 101, 101);
  border-radius: 20px;
  margin: 0;
}

.curved-edge .notice-title {
  color: #a30000;
  font-weight: bold;
}

.notice ul {
  list-style: none;
  margin: 10px 10px;
  margin-right: 0px;
  padding: 0;
}
